address = "0.0.0.0:8125"
graphite = "127.0.0.1:2003"
delete-gauges = true
flush-interval = 10
persist-count-keys = 60
log-level = info
log-facility = console
rsyslog-url = unix:///dev/log
log-format = "%(asctime).%(msecs) %(levelname) %(name) %(tags) %(message)"
log-name = "StatsD"
